Resources:
  CommentsTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: Comments
      KeySchema:
        HashKeyElement: {AttributeName: Subject, AttributeType: S}
        RangeKeyElement: {AttributeName: User, AttributeType: S}
      ProvisionedThroughput: {ReadCapacityUnits: 1, WriteCapacityUnits: 1}
